doctype html
html(lang='en')
    head
        title success
    body
        .info
            | !{charge.outcome.seller_message} !{order.amount / Math.pow(10, order.TariffPlan.Currency.precision)} !{order.TariffPlan.Currency.name}